# Python
*.pyc

# Scala
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

# Databases
db.sqlite3

# IntelliJ IDEA
*.iml
.idea/
