# IntelliJ IDEA files
*.iml
.idea/

# Python files
*.pyc
*.ipynb_checkpoints*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# .CSV files
*.csv

# Spark files
*metastore_db*

# log files
*.log
