option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "ChicagoBoothAnalytics_project.settings"
    PYTHONPATH: "/opt/python/current/app/ChicagoBoothAnalytics_project:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "ChicagoBoothAnalytics_project/ChicagoBoothAnalytics_project/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "ChicagoBoothAnalytics_project/static/"

packages:
  yum:
    git: []
    postgresql93-devel: []
