Django >= 3.0.2

Django-AutoComplete-Light >= 3.5.0
Django-Extensions >= 2.2.5
Django-Generic-M2M >= 0.3.1
Django-GM2M >= 0.6.1
Django-Nested-InLines >= 0.1
Django-QuerySetSequence >= 0.12
Django-Tagging >= 0.4.6
Django-Taggit >= 1.2.0

Django-Grappelli >= 2.13.2

Django-LaTeX >= 0.1
Django-LaTeXify >= 0.2.1

PsycoPG2-binary >= 2.8.4
